<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="vue1026.js"></script>
</head>
<body>
	<div id="app">
		<!-- <input type="text" v-model="name">
		<form action="#">
		<input type="text" id="username" v-model="user.uname" >
		<input type="password" id="pwd" v-model="user.upwd">
		<input type="submit" v-on:click="submit" value="注册">
		</form> -->
		<input type="text" v-model="name">
		<form>
			<input type="text" id="username" v-model="user.uname">
			<input type="password" id="pwd" v-model="user.upwd">
			<input type="submit" v-on:click="submit" value="注册">
		</form>
	</div>
</body>

<script>
	var vm = new Vue({
		el:'#app',
		data:{
			name:'黑马程序员',
			user:{uname:'',upwd:''}
		},
		methods:{
			submit:function() {
				alert(this.user.uname+"   pwd"+this.user.upwd);
			}
		}
	});
// var vm = new Vue({
// 	el:'#app',
// 	data:{
// 		name:'黑马程序员',
// 		user:{uname:'',upwd:''}
// 	},
// 	methods:{
// 	submit:function(){
// 		alert(this.user.uname +"  pwd="+this.user.upwd);
// 	}
// }
// });
</script>
</html>