<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="vue1026.js"></script>
</head>
<body>
	<div id="app">
		<ul>
			 <!-- <li v-for="(index,item) in list" track-by="$index">{{index}}-{{item}}</li> -->
			<!-- <li v-for="(item,index) in list" :key="index">{{index}}-{{item}}</li> -->
			<!-- <li v-for ="(key,item) in user">{{key}}-{{item}}</li> -->
			vue1.0 的写法
			<li v-for="(index,item) in list" track-by="$index">{{index}}--{{item}}</li>
			vue2.0 的写法
			<li v-for="(item,index) in list" :key="index">{{index}}--{{item}}</li>
			对象的写法
			<li v-for="(key,item) in user">{{key}}--{{item}}</li>

		</ul>
	</div>
</body>

<script>
	new Vue({
		el:'#app',
		data:{
			list:[1,2,3,4,4],
			user:{uname:'itcast',age:10}
		}
	});
// new Vue({
// 	el:'#app',
// 	data:{
// 		list:[1,2,3,4,4],
// 		user:{uname:'itcast',age:10}
// 	}
// });

</script>
</html>